 h1, h3 {
    text-align: center;
    padding: 10px;
}
button {
    padding: 8px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
}
input, select {
    height: 30px;
    font-size: 15px;
}
.gap {
    margin: 80px;
}
th, td {
    width: 60%;
}
table {
    text-align: center;
    width: 100%;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 40px;
}
a {
    width: 100px;
}
a.button {    
    padding: 6px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
 }