h1 {
    margin-bottom: 25px;
    text-align: center;
}
a {
    width: 90px;
}
a.button {    
    padding: 6px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
 }
td, th {
    width: 20%;
}
table {
    margin-bottom: 20px;
}
td {
    padding: 10px !important;
    vertical-align: middle !important;
}