h1 {
    margin-bottom: 20px;
    text-align: center;
}
button {
    padding: 8px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
}
input, select {
    height: 30px;
    font-size: 15px;
}